<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340604151620-bh9a31o8629so616peg6jkqtfk5frjeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340604151620-bh9a31o8629so616peg6jkqtfk5frjeh</string>
	<key>API_KEY</key>
	<string>AIzaSyCG3-k1oN3Zm-rlEL8GZZFYK8zvsJxtYdI</string>
	<key>GCM_SENDER_ID</key>
	<string>340604151620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sopportec.foeahora</string>
	<key>PROJECT_ID</key>
	<string>foeahora</string>
	<key>STORAGE_BUCKET</key>
	<string>foeahora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340604151620:ios:bb4fef8ec6e58e635b1911</string>
	<key>DATABASE_URL</key>
	<string>https://foeahora.firebaseio.com</string>
</dict>
</plist>