<Alloy>
    <Window id="settings" class="vertical" navBarHidden="true" tabBarHidden="true">
        <Require id="reqNavbar" src="/partials/navbar" title="Ajustes" leftIcon="text-2xl text-white fas fa-chevron-left" onLogin="close"></Require>
        <View class="w-full h-auto vertical bg-white">
            <View if="!Alloy.Globals.guest" class="w-full h-auto vertical mb-4 mt-2">
                <Label class="text-3xl text-gray-400 lni lni-user"></Label>
                <Label id="lblEmail" class="h-auto text-gray-500 mt-2">No registrado</Label>
                <Label id="lblAffiliateName" class="w-0 h-0 text-gray-500"></Label>
            </View>
        </View>
        <ListView id="elementsList" class="w-full" backgroundColor="#edecf2" defaultItemTemplate="default" onItemclick="doSelectOption" canScroll="true" separatorStyle="Ti.UI.TABLE_VIEW_SEPARATOR_STYLE_NONE">
            <Templates>
                <ItemTemplate name="default">
                    <View id="itemContainer">
                        <Label class="fa icon" bindId="icon" id="icon" text="\uf0c0"/>

                        <Label class="name" bindId="name" id="name"/>
                    </View>
                </ItemTemplate>
                <ItemTemplate name="tplNotifications">
                    <View id="mainView" class="v_container w-full h-auto">
                        <View class="w-full" height="50" backgroundColor="white">
                            <View height="Ti.UI.SIZE" left="0" width="80%">
                                <Label bindId="lblAmIAvailable" id="lblAmIAvailable" color="black" left="15"/>
                            </View>
                            <View height="Ti.UI.SIZE" right="0">
                                <Switch bindId="swAmIAvailable" id="swAmIAvailable" value="false" right="15" onChange="doChangeSwitch"/>
                            </View>
                        </View>
                        <View height="Ti.UI.SIZE" backgroundColor="#edecf2" platform="ios">
                            <Label bindId="lblDescription" id="lblDescription" class="lbl_info"/>
                        </View>
                        <View height="Ti.UI.SIZE" backgroundColor="white" platform="android">
                            <Label bindId="lblDescription" id="lblDescription" class="lbl_info"/>
                        </View>
                    </View>
                </ItemTemplate>
            </Templates>
            <ListSection>
                <HeaderView platform="ios">
                    <View backgroundColor="#edecf2" class="w-full" height="35">
                        <Label class="lbl_settings_header">NOTIFICACIONES</Label>
                    </View>
                </HeaderView>
                <HeaderView platform="android">
                    <View class="w-full" height="35" backgroundColor="white">
                        <Label class="lbl_settings_header">Notificaciones</Label>
                    </View>
                </HeaderView>
                <ListItem template="tplNotifications" lblAmIAvailable:text="Ofertas" lblAmIAvailable:textId="offer_notifications" lblDescription:text="Cuando está activado, le notificaremos de todas las ofertas y promociones que publiquemos." swAmIAvailable:id="offer_notifications" swAmIAvailable:value="false"></ListItem>
                <ListItem template="tplNotifications" if="!Alloy.Globals.guest" lblAmIAvailable:text="Dinamización" lblAmIAvailable:textId="dinamization_notifications" lblDescription:text="Cuando está activado, le notificaremos de todas las noticias que publiquemos." swAmIAvailable:id="dinamization_notifications" swAmIAvailable:value="false"></ListItem>
                <ListItem template="tplNotifications" if="Alloy.Globals.isAffiliate" lblAmIAvailable:text="Boletines" lblAmIAvailable:textId="communication_notifications" lblDescription:text="Cuando está activado, le notificaremos de todos los boletines que publiquemos." swAmIAvailable:id="communication_notifications" swAmIAvailable:value="false"></ListItem>
                <ListItem template="tplNotifications" if="Alloy.Globals.isLeadership" lblAmIAvailable:text="Boletines Junta Directiva" lblAmIAvailable:textId="leadership_notifications" lblDescription:text="Cuando está activado, le notificaremos de todos los boletines que publiquemos para la Junta Directiva." swAmIAvailable:id="leadership_notifications" swAmIAvailable:value="false"></ListItem>
            </ListSection>
            <ListSection id="section">
                <HeaderView platform="ios">
                    <View backgroundColor="#edecf2" class="w-full" height="35">
                        <Label class="lbl_settings_header">SESIÓN</Label>
                    </View>
                </HeaderView>
                <HeaderView platform="android">
                    <View height="35" backgroundColor="white" class="w-full">
                        <Label class="lbl_settings_header">Sesión</Label>
                    </View>
                </HeaderView>
            </ListSection>
            <ListSection>
                <HeaderView>
                    <View id="vwContainer" backgroundColor="#edecf2" height="1000" onClick="showHiddenInfo">
                        <Label id="lblVersion" class="lbl_info">Versión</Label>
                    </View>
                </HeaderView>
            </ListSection>
        </ListView>
    </Window>
</Alloy>